<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>URL shortener</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../public/site.css" >
</head>
<body>
   
    
      <div class="container">
        <div class="row">
            <div class="col align-self-start">
            </div>
            <div class="col align-self-center">
                <h1 >re.va</h1> 
            </div>
            <div class="col align-self-end">
            </div>
          </div>

           
        <div class="row">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Original URL</th>
                <th scope="col">Shortened</th>
                <th scope="col">Shortened by id</th>
                <th scope="col">Clicked times</th>
              </tr>
            </thead>
            <tbody>
              <% shortURLs.forEach(element => { %>
                <tr>
                  <td><a href="<%= element.original %>"target="_blank"><%= element.original %></a></td>
                  <td><a href="http://localhost:5000/r/<%= element.shortened %>"target="_blank">http://localhost:5000/r/<%= element.shortened %></a></td>
                <td><a href="http://localhost:5000/r/<%= element._id %>"target="_blank">http://localhost:5000/r/<%= element._id %></a></td> 

                  <td><%= element.clicks %></td>
                </tr>
              <% }) %>
            </tbody>
           
          </table>
          
        </div>
        

      </div>
     

</body>
</html>

